.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exchange-container {
  display: flex;
  justify-content: center;
  max-width: 754px;
  max-height: 344px;
  padding: 28px 32px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.08);
}

